.top-bar{
    display: flex;
    margin: 0;
    

    background-color: #b3b0a9;
    height: 50px;
    width: 100%;
}

.selector{


    display: flex;
    justify-content: center;
    width: 100%;
    

}

.bar-text{

    padding: 1em;
    margin-left: 50px;
    margin-right: 50px;
}