

.top-bar{
    display: flex;
    margin: 0;
    
    background-color: #4267B2;
    height: 50px;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    position: fixed;
    top: 0;
    z-index: 1;
}

.selector{


    display: flex;
    justify-content: flex-start;
    width: 100%;
    

}

.bar-text{

    padding: 1em;
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(15, 15, 15);
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 2px;

}


.bar-text:hover {
    background-color: #395999;
  }