<body>
  
  
  <h1>Cursos:</h1>

  <button (click)="getCourses()">Cursos</button>

 

  <main class="course-list">

  

      <section *ngFor=" let course of courses | async" class="course-card">

        
        <header class="card-text">

        <h2>{{course.title}}</h2>
        <p>{{course.description}}</p>

        </header>
        <br>
        <footer class="card-button">    
                
          <button [routerLink]="['/course/', course.id]">Enroll </button>
        
        </footer>
        
      </section>
    

  

  </main>


</body>

